<!-- Choose Section Start -->
<div id="facility" class="why-choose-us style2 gray-bg3 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-last">
                <div class="video-wrap md-mb-40">
                    <img src="assets/images/about/Library.jpg" alt="">
                    <!-- <a class="popup-videos" href="https://www.youtube.com/watch?v=atMUy_bPoQI">
                        <i class="fa fa-play"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="sec-title2 mb-40">
                    <h2 class="title purple-color">LIBRARY </h2>
                </div>
                <div class="facilities-two">
                    <div class="row">
                        <p>In this institute there are more than 7500 books, novels and cassettes for the students,
                            there are also peaceful environment and latest technology for the students.</p>
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-12 single-facility">
                            
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    7500, More than books
                                </div>
                            </div>


                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    2500 More than Novels
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    1000 More than Cassettes and CDs
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-12 single-facility">
                            


                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    Novel, Poetry, History, Economics, Languages,
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    Sahitya and Social work books are involved
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Choose Section End -->